body {
    background-color: #F3E5D7;
    margin: 25%;
    font-family: "Young Serif";
    font-weight: 400;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    background: #7A284E;
    font-size: 26px;
    padding: 24px 12px;
    border-radius: 12px;
    margin-bottom: 36px;
    text-align: center;
}

::placeholder {
    color: #E8CEDA;
}

input {
    display: block;
    width: 96%;
    background: #FFF7FB;
    border: 0px solid;
    font-size: 26px;
    padding: 24px 12px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.search {
    background: white;
    padding: 40px;
    border-radius: 24px;
}

hr {
    margin-top: 36px;
    border-top: 1px solid #312E2C;
}