body {
    background-color: #F3E5D7;
    margin: 33.333%;
    font-family: "Young Serif";
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
    background: #7A284E;
    font-size: larger;
}

::placeholder {
    color: #E8CEDA;
}

input {
    background: #FFF7FB;
    border: 0px solid;
    font-size: larger;
}

.search {
    background: white;
    padding: 12px;
    border-radius: 12px;
}